@reboot while [ 1 == 1 ]; do streamripper http://streams.radio.co:80/s7d70a7895/listen --codeset-metadata=utf-8 -d ~/tmp/weszlo -t -r 8023; done
0       *       *       *       *       nice ~/bin/trojka_fetch.sh
*/3   	*		*		*		*		find ~/tmp/weszlo -mmin +2 -type f -iname '*.mp3' -exec ~/bin/weszlo_copy.sh {} \;
